article.post
  h2 Tony Ganch

  ul.index-list
    li
      | My posts on git (sorry, Russian):
      ul
        li #[a(href="/git/rebase") rebase]
        li #[a(href="/git/reset") reset]
    li
      | My (deprecated) projects:
      ul
        li #[a(href="https://github.com/csscomb/csscomb.js") CSScomb] (CSS coding style formatter)
        li #[a(href="https://github.com/tonyganch/gonzales-pe") GPE] (CSS parser with support of preprocessors)

    li My #[a(href="/lp") LP wishlist] and #[a(href="https://www.discogs.com/user/tonyganch/collection") current collection]

    li My #[a(href="/dear-diary") alcohol wishlist) and #[a(href="/dear-diary/#Things-I’ve-got-at-home-in-abc-order") current collection]

footer.footer
  p Feel free to drop me a line #[a(href="mailto:tonyganch+tg.com@gmail.com") by mail] or #[a(href="https://twitter.com/tonyganch") via twitter].
