article.post
  h2= page.title

  if page.translation
    a.header(href=page.translation)= __('other_lang_link')

  != page.content

footer.footer
  p Feel free to drop me a line #[a(href="mailto:tonyganch+tg.com@gmail.com") by mail] or #[a(href="https://twitter.com/tonyganch") via twitter].
