/**
 * Формы
 * @author Sergey Bochkarev
 * @created 2013-03-07 10:25:00
 */

form {
    padding: 20px;
}

/*--------------------*/
/* autocomplete */
.autocomplete-selector {
    position: absolute;
    display: none;
    color: #e24100;
    background: #ffffff;
    border: 1px solid #b7b7b7;
    box-shadow: 0 0 2px 1px #d9d9d9;
    padding: 9px;
    z-index: 10;
}

.autocomplete-selector .row-container {
    padding: 2px 0;
    height: 20px;
    cursor: pointer;
}

.autocomplete-selector .row-container:hover {
    background: #dedede;
}

.autocomplete-selector .row-container .row {
    margin-right: 40px;
    overflow: hidden;
}

.autocomplete-selector .row-container .row-airport {
    margin-right: 40px;
    margin-left: 10px;
    overflow: hidden;
}

.autocomplete-selector .airport-code {
    float: right;
    width: 40px;
}


.autocomplete-selector .row-container .country, .autocomplete-selector .row-container .airport-code {
    color: #999999;
}

/*--------------------*/
/* Элементы формы */
form input[type=text], form textarea {
    padding: 3px 5px;
    background: #ffffff;
    border-top: 1px solid #b2b2b2;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    line-height: 24px;
}

form input[type=text] {
    height: 22px;
}

form textarea {
    /* height: 64px; */
}

form fieldset.buttons {
    margin-top: 30px;
}

form fieldset.buttons span {
    display: inline-block;
}

form fieldset.buttons a {
    color: #0774c1;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px solid #0774c1;
    line-height: 16px;
}

form input[type=submit] {
    color: #ffffff;
    background: #ff5e1d;
    padding: 9px 37px 11px;
    margin: 0;
    border: 0 none;
    cursor: pointer;
    font-size: 14px;
}

form input[type=submit][disabled], form input[type=submit][disabled="disabled"] {
    background: #f1f1f1;
    color: #b7b7b7;
    cursor: wait;
}

form input.date {
    background: url(../img/icons/datepicker.png) right center no-repeat;
}

form input.date::-ms-clear {
    display: none;
}

/* контейнеры формы */
form > fieldset {
    margin-bottom: 25px;
}

form p {
    margin-top: 16px;
    margin-bottom: 8px;
}

form a {
    color: #0774c1;
}

form div.container {
    display: none;
    background: #f4f4f4;
    padding: 20px 20px 0 20px;
    margin-bottom: 10px;
    width: 60%;
}

form div.container.opened-container {
    display: block;
    min-width: 540px;
}

form div.container textarea {
    /* pumping effect */
    margin-bottom: 20px;
}

/* контейнеры формы */
form div.container fieldset {
    margin-bottom: 19px;
}

/* Элемент с label наверху */
form fieldset div.field {
    float: left;
    position: relative;
    margin-right: 30px;
}

form fieldset div.field input[type=text] {
    width: 100%;
}

form fieldset div.field label {
    display: block;
    padding: 5px 0;
}

/** РАДИО **/
label.radio {
    background:#f4f4f4;
    margin:0 10px 0 0;
    padding:8px 6px 6px;
}
label.radio > input { outline:none; /* IE */ }
label.radio.checked {
    background:#929292;
    color:#fff;
}

/* разделитель */
form div.separator {
    float: left;
    display: block;
    height: 24px;
}

form span.separator {
    display: inline-block;
    height: 24px;
}

form fieldset div.checkbox {
    float: left;
    position: relative;
    margin-right: 10px;
    padding: 8px 10px 8px 4px;
}

/* что бы были отступы */
form fieldset div.checkbox input[type=checkbox] {
    width: 24px;
    display: inline;
    padding: 0;
    margin: 0;
}

/* инлайн набор */
form fieldset div.inline-field {
    float: left;
    position: relative;
    background: #f4f4f4;
    margin-right: 20px;
    padding: 0;
}

form fieldset div.inline-field label {
    display: inline;
    line-height: 28px;
}

/* ------------------- */
/* Выбор времени       */
.time-departure {
    overflow: hidden;
}
form fieldset div.time-departure div.inline-field {
    float: left;
}

form fieldset div.time-departure div.inline-field label {
    line-height: normal;
}

form div.time-selector {
    float: left;
    position: relative;
    display: block;
}

div.time-selector label {
    position: relative;
    display: inline-block;
    font-size: 10px;
    margin: 0 -2px 0 0;
    padding: 0;
    line-height: normal;
    overflow: visible;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 14px;
    height: 15px;
}

div.time-selector label span {
    display: block;
    color: #000000;
    background: #ffffff;
    width: 14px;
    height: 15px;
}

div.time-selector label.checked span {
    color: #ffffff;
    background: #929292;
}

div.time-selector input {
    border: 0 none;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* ------------------- */
/* Ошибки */
.error {
    color: #ff3b3b;
}

input.error,
td.error,
span.error input,
div.dropdown-select.error,
#do-reservation div.checkbox-container.error {
    border: 1px solid #ff3b3b !important;
    background: repeat url(../img/error.gif) !important;
}

span.error {
    /*position: absolute;*/
    display: block;
    font-style: italic;
    font-size: 14px;
    /*padding-top: 2px;*/
}

span.error.hide {
    display: none;
}

em.error {
    display: block;
    font-style: italic;
    font-size: 14px;
    padding-top: 2px;
}

/* ------------------- */
/* подсказки в форме   */
form div.info {
    font-style: italic;
    font-size: 12px;
    padding: 5px 0 14px;
    color: #808080;
}

/* Добавление нового пути в сложном маршруте */
#add-multi {
    position: relative;
    margin: 0;
    vertical-align: bottom;
}

