/* Icons */

.star {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url('../img/icons/star.png') 0 0 no-repeat;
    vertical-align: middle;
    }
input[type="checkbox"] {
    display: none;
    }
form fieldset div.field input[type="checkbox"] + label,
input[type="checkbox"] + label {
    display: inline-block;
    padding-left: 20px;
    background: url('../img/icons/checkbox.png') 0 center no-repeat;
    vertical-align: middle;
    cursor: pointer;
    }
form fieldset div.field input[type="checkbox"]:checked + label,
input[type="checkbox"]:checked + label {
    background: url('../img/icons/checkbox-selected.png') 0 center no-repeat;
    }




a {
    color: #0774c1;
    }
form fieldset div.field {
    box-sizing: border-box;
    margin-right: 0;
    padding-right: 30px;
    }
form fieldset {
    margin-right: -30px;
    }
fieldset.separator-line {
    margin-bottom: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
}
.separator-line-red {
    margin-bottom: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: 1px solid tomato;
}
form fieldset div.field input[type=text] {
    box-sizing: border-box;
    height: 28px;
    }
.expanded-50 {
    width: 50%;
    }
.justify {
    text-align: justify;
    }
.justify > span {
    margin: 0 10px 0 0;
    }
.justify .empty {
    display: inline-block;
    width: 100%;
    height: 0;
    }
form fieldset div.field .justify label {
    text-align: left;
    }
.select-field {
    margin-bottom: 15px;
    }
.select-field > * {
    margin-right: 10px;
    }
.dropdown-select {
    position: relative;
    display: inline-block;
    width: 200px;
    max-width: 100%;
    vertical-align: middle;
    }
.dropdown-select input[type="text"] {
    box-sizing: border-box;
    height: 28px;
    cursor: pointer;
    }
.dropdown-select ul {
    position: absolute;
    z-index: 1;
    display: none;
    box-sizing: border-box;
    padding: 1px;
    width: 100%;
    border: 1px solid #dedede;
    background: #fff;
    }
.dropdown-select li {
    padding: 4px 8px;
    color: tomato;
    line-height: 16px;
    cursor: pointer;
    }
.dropdown-select li:hover {
    background: #0774c1;
    color: #fff;
    }
.dashed-underline_red {
    border-bottom: 1px dashed #e24201;
    color: #e24201;
    text-decoration: none;
    cursor: pointer;
    }
.hotel-form input[type="submit"] {
    margin-right: 20px;
    }
.hotel-form {
    padding: 0;
    max-width: 800px;
    }


/* STEP 2 */
.hotel-search {
    padding: 0;
    }
.hotel-search fieldset {
    position: relative;
    margin-right: 0;
    }
.hotel-search .separator-line {
    padding-top: 20px;
    }
.hotel-search-params {
    position: relative;
    margin: 0 0 15px;
    padding: 10px;
    background: #eeeeee;
    }
.hotel-search-params label {
    vertical-align: middle;
    }
.hotel-search-params input {
    margin: 0 30px 0 0;
    }
.hotel-search-city {
    position: relative;
    left: -25px;
    color: #666;
    font-size: 12px;
    }
.hotel-search-map {
    position: absolute;
    top: 10px;
    right: 10px;
    /* todo: translate to px */
    color: #0774c1;
    font-size: 14px;
    line-height: 1.9em;
    }
.input-dashed[type="text"] {
    box-sizing: border-box;
    padding: 3px 35px 3px 5px;
    height: 28px;
    border: 1px dashed #ccc;
    background: transparent;
    }
.input-dashed[type="text"]:hover {
    border-color: #666;
    }
.input-dashed[type="text"]:focus {
    outline: none;
    border: 1px solid #dedede;
    background: #fff;
    }

.hotel-trip-params {
    margin: 0 0 15px;
    }
.hotel-trip-params-input {
    display: inline-block;
    margin: 0 30px 0 0;
    width: 110px;
    height: 28px;
    vertical-align: middle;
    line-height: 26px;
    }
.hotel-trip-params-input input[type="text"] {
    display: none;
    box-sizing: border-box;
    padding: 3px 5px;
    height: 28px;
    background-color: #fff;
    }
.hotel-trip-params-control {
    position: absolute;
    top: 0;
    right: 0;
    }
.hotel-trip-params-control a {
    color: #666;
    font-size: 12px;
    }
.hotel-trip-params-control .close {
    display: inline-block;
    margin: 0 0 0 10px;
    color: #666;
    vertical-align: middle;
    font-size: 18px;
    }
.push-to-right {
    float: right;
    line-height: 1.1;
    }
.hotel-table-params {
    margin: 0 0 20px;
    }
.hotel-table {
    width: 100%;
    border-collapse: separate;
    }
.hotel-table th {
    padding: 0 10px 10px;
    color: #0774c1;
    text-align: left;
    white-space: nowrap;
    font-size: 12px;
    cursor: pointer;
    }
.hotel-table th > span {
    border-bottom: 1px dashed;
    }
.hotel-table tbody tr {
    margin: 0 0 3px;
    border: 1px solid tomato;
    }
.hotel-table tbody tr:after {
    position: absolute;
    left: 0;
    z-index: 0;
    margin: 0 -2px;
    width: 100%;
    height: 80px;
    border: 1px solid pink;
    box-shadow: inset 0 0 15px rgba(255,0,0,0.15);
    content: "";
    }
.hotel-table tbody td {
    position: relative;
    z-index: 1;
    padding: 1px 5px;
    vertical-align: top;
    }
.hotel-table tbody td > div {
    padding: 5px;
    height: 72px;
    border-bottom: 1px solid #ececec;
    }
.hotel-table tbody tr:last-child td > div {
    border-bottom: 0;
    }
.hotel-table tbody td:first-child {
    padding-left: 0;
    }
.hotel-table tbody td:last-child {
    padding-right: 0;
    }
.content {
    position: relative;
    max-width: 1000px;
    }
.hotel-table .price {
    color: #0774c1;
    text-align: right;
    }
.font-large {
    font-size: 1.5em;
    }
.hotel-price {
    color: tomato;
    }
.hotel-note {
    margin: 5px 0 0;
    color: #888;
    font-size: 12px;
    }
.hotel-name {
    margin: 2px 0 10px;
    }
.hotel-address {
    font-size: 12px;
    }
.hotel-services {
    margin: 15px 0;
    font-size: 0;
    }
.hotel-services label {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 0 15px;
    width: 25%;
    vertical-align: middle;
    font-size: 14px;
    }
.hotel-search .field {
    margin-bottom: 10px;
    }
.hotel-search-rooms,
.hotel-search-filters {
    position: relative;
    display: none;
    margin-bottom: 10px;
    padding: 14px 0;
    border-top: 1px solid #ddd;
    }
