h2 Notes on Trailhead

ol.puf
  li
    a(href="https://trailhead.salesforce.com/trails/salesforce-for-students/modules/salesforce-career-exploration/units/learn_about_technical_careers") Learn About Technical Careers at Salesforce
    p "Problem solving" in "Meet the Software Developer" table is duplicated.
    img(src="/images/trailhead/learn-about-technical-careers-1.png")
  li
    a(href="https://trailhead.salesforce.com/trails/salesforce-for-students/modules/salesforce-career-exploration/units/learn_about_technical_careers") Learn About Technical Careers at Salesforce
    p Extra #[code &lt;] sign in "Meet the Data Scientist" section.
    img(src="/images/trailhead/learn-about-technical-careers-2.png")
  li
    a(href="https://trailhead.salesforce.com/trails/salesforce-for-students/modules/salesforce-career-exploration/units/learn_about_technical_careers") Learn About Technical Careers at Salesforce
    p Extra #[code &lt;] sign in "Meet the Product Manager" section.
    img(src="/images/trailhead/learn-about-technical-careers-3.png")
  li
    a(href="https://trailhead.salesforce.com/trails/salesforce-for-students/modules/salesforce-career-exploration/units/learn_about_technical_careers") Learn About Technical Careers at Salesforce
    p Extra #[code &lt;] sign in "Resources" section.
    img(src="/images/trailhead/learn-about-technical-careers-4.png")
  li
    a(href="https://trailhead.salesforce.com/trails/salesforce-for-students/modules/salesforce-career-exploration/units/skill_up") Skill Up
    p Extra #[code &lt;] sign in "Learning Objectives" section.
    img(src="/images/trailhead/skill-up-1.png")
  li
    a(href="https://trailhead.salesforce.com/trails/salesforce-for-students/modules/salesforce-career-exploration/units/skill_up") Skill Up
    p Extra #[code &lt;] sign in "Someday, You Might Go to College" section.
    img(src="/images/trailhead/skill-up-2.png")
  li
    a(href="https://trailhead.salesforce.com/trails/salesforce-for-students/modules/salesforce-career-exploration/units/skill_up") Skill Up
    p Extra #[code &lt;] sign in "Talk with People About Their Jobs" section.
    img(src="/images/trailhead/skill-up-3.png")
  li
    a(href="https://trailhead.salesforce.com/trails/salesforce-for-students/modules/salesforce-career-exploration/units/put_your_best_foot_forward") Get Ready for Your Career
    p Two hyphens instead of an em dash in "Create or Update Your Resume" section.
    img(src="/images/trailhead/get-ready-for-your-career.png")
  li
    a(href="https://trailhead.salesforce.com/trails/force_com_dev_beginner/modules/platform_dev_basics/units/platform_dev_basics_nocode") Develop Without Code
    p It's not really obvious at this point how lightbulbs can be related to an app that lists houses. It is mentioned in some other unit that a broker can remotely prepare the house while driving to meet the customer, but that is way later.
    img(src="/images/trailhead/platform-development-basics.jpg")
  li
    a(href="https://trailhead.salesforce.com/trails/force_com_dev_beginner/modules/platform_dev_basics/units/platform_dev_basics_code") Code with Salesforce Languages
    p It will be more convient if you just include a link here.
    img(src="/images/trailhead/code-with-sf-languages.png")
  li
    a(href="https://trailhead.salesforce.com/trails/force_com_dev_beginner/modules/platform_dev_basics/units/platform_dev_basics_extend") Extend the Salesforce Platform
    p Extra dot in "Unleash Your Apps with Heroku" section.
    img(src="/images/trailhead/extend-the-sf-platform.png")
  li
    a(href="https://trailhead.salesforce.com/trails/run-an-agile-team/modules/agile-basics/units/get-started-with-agile") Get Started with Agile
    p The image is not aligned very well with the text.
    img(src="/images/trailhead/get-started-with-agile.png")
  li
    a(href="https://trailhead.salesforce.com/trails/run-an-agile-team/modules/agile-frameworks-scrum-and-kanban/units/meet-scrum") Meet Scrum
    p Extra dot in "What’s So Special About Scrum" section.
    img(src="/images/trailhead/meet-scrum.png")
  li
    a(href="https://trailhead.salesforce.com/trails/learn-salesforce-agile-practices/modules/scrum-and-kanban-at-salesforce/units/learn-the-elements-of-the-scrum-workflow") Learn the Elements of the Scrum Workflow
    p I think "'ve" should not be here.
    img(src="/images/trailhead/learn-elements-of-scrum.png")
  li
    a(href="https://trailhead.salesforce.com/trails/learn-salesforce-agile-practices/modules/scrum-and-kanban-at-salesforce/units/choose-the-best-workflow") Choose the Best Workflow
    p Example of the term is mentioned before the term is first introduced.
    img(src="/images/trailhead/choose-best-workflow.jpg")
  li
    a(href="https://trailhead.salesforce.com/trails/force_com_dev_beginner/modules/platform_dev_basics/units/platform_dev_basics_nocode") Develop Without Code
    p It will be more convient if you just include a link here.
    img(src="/images/trailhead/develop-wo-code.png")
  li
    a(href="https://www.salesforce.com/") Main page
    p If you open live chat window, it requires unreasonable amount of information just to start typing a question.
    img(src="/images/trailhead/live-chat-window.jpg")
  li
    a(href="https://www.salesforce.com/") Main page
    p Design of the feedback window is so out of this era.
    img(src="/images/trailhead/feedback-window.png")
  li
    a(href="https://status.salesforce.com") Status Page
    p I use Yandex browser which is based on Chromium and everything works okay there, the same goes to Opera (also Chromium based for years already). I would expect status page to work everywhere. Plus IE, though supported haha, has problems with sticky header.
    img(src="/images/trailhead/status-page.png")
  li
    | Email to reset DE password
    p I understand that "Your DE" is probably some title, but "your your" sounds funny.
    img(src="/images/trailhead/your-your.png")
  li
    | Object Manager
    p Can't you use some smart dictionary to determine if the word starts with a vowel or not?
    img(src="/images/trailhead/starts-with-vowel.png")

